@{
    ViewData["Title"] = "Om os";
}
<h1>@ViewData["Title"]</h1>

<h3>Vores historie</h3>
<p>
    Vi startede, i 1984, som ’first movers’ med en mission om at integrere it i undervisningen ude på skolerne. Det var dengang, man arbejdede med edb, piccoline og dos.

    Siden da har vi specialiseret os og har i dag en førende position inden for læse- og skriveteknologi i Skandinavien. 
    Vores programmer læse- og skrivestøtteprogrammer CD-ORD og IntoWords er eksempelvis opskriften på succes og livskvalitet for mange ordblinde og læseusikre, som her får hjælp til at læse og skrive, så de kan gennemføre en uddannelse, passe deres job og begå sig socialt.

    Vi er skandinavisk samarbejdspartner for LEGO® Education.

    Vores verden udgår fra Odense og befolkes af blandt andet softwareudviklere, pædagogiske konsulenter, salgsrådgivere, supportere og kursusafholdere. Vi har datterselskaber i både Norge og Sverige, og samlet set er vi ca. 80 medarbejdere.

    I 2014 ændrede vi navn fra Mikro Værkstedet til MV-Nordic for at understrege vores nordiske rødder. I juli 2017 blev vi  en del af den svenske softwarekoncern, Vitec. I 2019 har vi derfor skiftet navn igen fra MV-Nordic til Vitec MV.
</p>

<h3>Om Vitec</h3>
<p>
    Vitec er en nordisk softwarevirksomhed. 
    Vi udvikler virksomhedskritisk software til specifikke branchers unikke behov – Vertical Market Software. Vitec blev grundlagt i 1985 som en spin-off virksomhed fra Umeå Universitet. 
    I dag har koncernen 700 medarbejdere fordelt i Norden og omsatte for 1.017 millioner svenske kroner i 2018. 
    Hovedkontoret og store dele af koncernledelsen er placeret i Umeå. Vitec er noteret på Nasdaq Stockholm.
</p>