@{
    ViewData["Title"] = "Forside";
}

<div class="text-center">
    <h1 class="display-4">Velkommen til Vitec MV</h1>
    <br />
    <h3>Vi udvikler og forhandler værktøjer, der på en intuitiv måde støtter børn og voksne i at læse, skrive og lære.</h3>
    <p>
        Vores programmer CD-ORD og IntoWords hjælper fx ordblinde med at tage en uddannelse og passe deres job. 
 <br />
       Vi er forhandler af LEGO Education i hele Skandinavien.
    </p>
</div>
