
@{
    ViewData["Title"] = "Privacy";
}

<h2>Privatlivspolitik</h2>
<p>
    Denne Privatlivspolitik er gældende fra 25. maj 2018.

    1. Generelt
<p>
    1.1 Denne Persondatapolitik er gældende for samtlige personlige oplysninger, du giver os og/eller som vi indsamler om dig, når du anvender vores produkter, eller når du besøger vores hjemmeside www.mv-nordic.com.

<p>
    2. Dataansvarlig
<p>
    2.1 Vitec MV A/S, Lucernemarken 17, 5260 Odense S, CVR: 15314400 (herefter ”Vitec MV”, ”vi”, ”os” eller ”vores”) er dataansvarlig for dine personoplysninger, og vi er forpligtet til at beskytte og respektere dit privatliv og din personlige integritet, når du anvender vores produkter og tjenester, browser på vores hjemmeside, eller når du anvender vores applikationer (vores Tjenester). Denne Privatlivspolitik vil hjælpe dig med at forstå, hvilke personlige oplysninger vi indsamler om dig, hvorfor oplysningerne indsamles, og hvordan vi bruger dem. Privatlivspolitikken vil også forklare, hvordan du kan udøve dine rettigheder, når du betror os med dine personlige oplysninger. Vi beder dig om at læse denne Privatlivspolitik omhyggeligt igennem og gøre dig bekendt med indholdet. Hvis du har spørgsmål, er du velkommen til at kontakte os via kontaktinformationen, som findes i slutningen af denne Privatlivspolitik.

<p>
    3. Hvilke oplysninger vi indsamler fra dig
<p>
    3.1 Når du får adgang, opretter forbindelse til, tilmelder dig til, deltager i, opretter en konto, foretager individuelle indkøb i eller på anden måde bruger vores Tjenester, kan vi indsamle personlige oplysninger om dig. Personoplysningerne, vi indsamler, afhænger af omstændighederne og de Tjenester, du bruger, men kan bestå af følgende:

<p>
    3.2 Personoplysninger som du aktivt stiller til rådighed for os

    <ul>
        <li> Navn og e-mail adresse</li>
        <li> Fødselsdato og cpr-nummer </li>
        <li>Nationalitet </li>
        <li> Betalingsoplysninger</li>
        <li> Brugeridentifikation, herunder brugernavn til login, kodeord, hemmelige spørgsmål og svarene dertil</li>
        <li>Information fra dig på baggrund af en anmodning fra os, når du rapporterer et problem med vores Tjenester</li>
        <li> Hvis du kontakter os, den adresse som du kontakter os fra </li>
        <li> Brugerinformation som du vælger at stille til rådighed til brug for statistiske formål (ratings, anmeldelser, svar til undersøgelser og lignende)</li>
        <li> Alle andre oplysninger, der gives på tidspunktet for registreringen til brug af vores Tjenester, tilslutning til vores Tjenester eller anmodning om yderligere tjenester fra os</li>
        <li> Cookies, der entydigt identificerer din browser.</li>
    </ul>
  

<p>
    3.3 Brugergenererede personoplysninger
    <ul>
        <li>Detaljer om hvilke programtyper du bruger, herunder f.eks. hvor meget af et program du har brugt</li>
        <li> Adfærdsdata, herunder brugsmønstre og navigation;</li>
        <li> Detaljerne om dine besøg til vores Tjenester, herunder men ikke begrænset til datatrafik og andre kommunikationsdata og de produkter og tjenester, som du har adgang til;</li>
        <li>Dine købspræferencer, f.eks. om du reagerer på annoncer eller kampagner;</li>
        <li> Computer og software information, såsom dit unikke ID, IP-adresse, operative systemer, browser type, forbindelseshastighed og internetudbyder;</li>
    </ul>

<p>
    4. Hvorfor vi indsamler dine oplysninger'
    A) Af hensyn til vores kontraktlige forhold:
    <ul>
        <li> For at kunne levere vores Tjenester til dig, herunder for at opfylde dine ønsker, forbedre din oplevelse af vores Tjenester og administrere vores kontraktlige forhold med dig</li>
        <li> For at sikre at indhold fra vores Tjenester overføres til dig og din enhed på den mest effektive måde</li>
        <li> For at tilpasse din oplevelse af vores Tjenester baseret på din brug og adfærd med henblik på at levere indhold.</li>
        <li> For at håndtere betaling for din konto og for at levere ordre- og fakturaoplysninger til dig</li>
        <li>For at holde styr på dine køb med henblik på at sikre, at vi kan give dig det indhold, som du har ret til</li>
        <li> For at kunne sende push notifikationer på dine enheder</li>
        <li> For at kommunikere med dig om dit abonnement, din konto eller køb af vores Tjenester</li>
        <li>For at informere dig om ændringer i vores Tjenester</li>
        <li> For at levere tilbud, nyheder, information, produkter eller tjenester, som du anmoder om fra os</li>
    </ul>
    B) Til legitime formål:
    <ul>
        <li>For at analysere på et aggregeret niveau med henblik på at forbedre vores produkter og tjenester </li>
        <li> For at bruge IP-adresse, enhedsidentifikatorer eller anden information, der er nødvendig for at blokere skadelig brug af vores Tjenester, med det formål at beskytte vores Tjenester eller på anden måde håndhæve eller anvende vores Handelsbetingelser.</li>
        <li>For at forbedre vores Tjenester, identificere brud og holde dine data sikker baseret på logfiler</li>
        <li>Logfiler med oplysninger om tidspunkt og dato for besøg, varighed.</li>
        <li> Oplysninger om hændelser på enheden, f.eks. nedbrud, systemaktiviteter, hardwareindstillinger, browsertype, browsersprog, dato og tidspunkt.</li>
        <li> IP-adresse</li>
        <li>Vi kan indsamle enhedsspecifikke oplysninger (f.eks. om din hardwaremodel, operativsystem-version, browser).</li>
        <li> For at give oplysninger i en fusions- og overtagelsesproces af hensyn til forretnings- og strategisk ledelse.</li>
        <li>Til analyse og statistiske formål</li>
        <li> For at etablere, udøve eller forsvare juridiske krav</li>

    </ul>
    C) Til markedsføringsformål:
    <ul>
        <li> Til at sende dig nyhedsbreve, hvis du har samtykket hertil, som også kan indeholde tilbud, nyheder eller information relateret til vores Tjenester og/eller andre produkter. Vær venligst opmærksom på, at du på ethvert tidspunkt kan afmelde dig nyhedsbrevet ved at ændre dine kontopræferencer på din konto side.</li>
    </ul>

<p>
    4.2 Vi kan også behandle dine personoplysninger, hvis der er nødvendigt for os for at overholde en
    retlig forpligtelse eller en afgørelse fra en myndighed.


<p>
    5. Deling af dine personlige oplysninger

<p>
    5.1 Vi kan bruge tredjepartsleverandører til at udføre tjenester for os som f.eks. at levere infrastruktur og IT-tjenester (herunder men ikke begrænset til datalagring), behandle kredit- og betalingskorttransaktioner, samt forbedre data, behandle forespørgsler fra kunder og udføre andre former for statistiske analyser. Ved udførelsen af disse tjenester kan tredjepartsleverandører have adgang til dine personlige data, men er kun autoriseret til at behandle dem udelukkende på vores vegne og i overensstemmelse med vores instruktioner.

<p>
    6. Hvordan vi beskytter dine oplysninger

<p>
    6.1 Beskyttelse af dine personoplysninger er vigtigt for os. Alle personlige oplysninger, du giver os, gemmes på sikre servere, og vi har strenge procedurer til at beskytte mod tab, misbrug, uautoriseret adgang, ændring, offentliggørelse eller ødelæggelse af dine personoplysninger. Eventuelle betalingstransaktioner vil blive krypteret af industristandardteknologi og være underlagt PCI-sikkerhedsstandarder.

<p>
    6.2 Selvom vi arbejder hårdt for at beskytte dine personlige data, kan vi ikke garantere, at vores sikkerhedsforanstaltninger forhindrer ethvert uautoriseret forsøg på at få adgang til, bruge eller offentliggøre personoplysninger. Vi opretholder dog sikkerheds- og hændelsesplaner, herunder planer for håndtering af evt. brud på datasikkerheden, i tilfælde af en fysisk eller teknisk hændelse for at håndtere dette rettidigt og begrænse enhver negativ effekt af en sådan hændelse.

<p>
    7. Hvordan du kan få adgang til dine oplysninger

<p>
    7.1 Vi forstår, at du til tider kan have brug for yderligere oplysninger fra os om dine personoplysninger, og hvordan de behandles, eller at du måske ønsker at opdatere eller rette de personoplysninger, du har givet os. Derfor du blandt andet følgende rettigheder:
    <ul>
        <li> Ret til at få adgang til dine personoplysninger: du har ret til at få bekræftet af os, hvorvidt vi behandler personoplysninger om dig, og, i så fald, at få adgang til personoplysningerne og informationenRet til at få berigtiget personoplysninger: hvis du opdager, at personoplysninger, som vi behandler om dig, er unøjagtige, har du ret til at få os til at til at korrigere sådanne personoplysninger</li>
        <li> Ret til at få slettet personoplysninger (retten til at blive glemt): under visse omstændigheder, f.eks. hvis dine personoplysninger er blevet behandlet ulovligt, eller du har trukket dit samtykke tilbage (hvis behandlingen af dine personoplysninger er baseret på samtykke), har du ret til at anmode om og opnå sletning af dine personoplysninger fra os.</li>
        <li> Ret til begrænsning af behandling: under visse omstændigheder, f.eks. hvis du anfægter nøjagtigheden af dine personoplysninger, eller hvis du har gjort indsigelse mod vores legitime formål til at behandle dine personoplysninger, har du ret til at anmode om, at vi begrænser behandlingen af dine personoplysninger, indtil der er fundet en løsning.</li>
        <li>Ret til at protestere mod behandling: under visse omstændigheder, f.eks. hvis du anfægter vores legitime interesse i at behandle dine personoplysninger, har du ret til at gøre indsigelse, af grunde der vedrører din særlige situation, mod sådan behandling.</li>
        <li> Ret til dataportabilitet: Hvis dine personoplysninger behandles automatisk på grundlag af dit samtykke eller til opfyldelsen af vores kontraktlige forhold, har du ret til at anmode om, at vi forsyner dig med dine personoplysninger på et maskinlæsbart format til transmission til en anden dataansvarlig.</li>
        <li>Ret til at indgive klage til tilsynsmyndighed: Du har ret til at indgive en klage vedrørende vores behandling af dine personoplysninger til din tilsynsmyndighed.</li>
        <li> Klage indgives til Datatilsynet, jf. Databeskyttelsesloven § 39, stk. 1.</li>
</ul>

<p>
    7.2 Hvis vores behandling af dine personoplysninger er baseret på dit samtykke, har du ret til at trække et sådan samtykke tilbage når som helst (det vil dog ikke påvirke behandlingen baseret på dit samtykke før tilbagetrækningen) ved at kontakte os.


<p>
    7.3 Kontakt os venligst ved hjælp af nedenstående kontaktoplysninger for at foretage en anmodning i forbindelse med dine rettigheder. Vi vil gøre kommercielt rimelige bestræbelser på at svare på din anmodning inden for 30 dage efter modtagelsen af en sådan anmodning. Hvis vi ikke kan efterkomme din anmodning inden for periode på 30 dage, vil vi give dig besked om dette, grunden til forsinkelsen, og hvornår vi forventer at være i stand til at opfylde din anmodning.

<p>
    8. Ændringer i Privatlivspolitikken
    8.1 Vores Privatlivspolitik kan ændres fra tid til anden. Derfor bør du sørge for at gennemgå den seneste version af denne politik regelmæssigt. Vi vil slå eventuelle ændringer af Privatlivspolitikken op her, og hvis ændringerne er betydelige, vil vi give dig en mere fremtrædende meddelelse såsom via e-mail. Hvis vi ændrer denne Privatlivspolitik på en måde, der vil påvirke, hvordan vi bruger dine personoplysninger, vil vi rådgive dig om de valg, du måtte have, som følge af disse ændringer. Vi vil også holde tidligere versioner af denne Privatlivspolitik i et arkiv til din gennemgang.

<p>
    9. Kontaktoplysninger
    9.1 Vi tager gerne imod eventuelle spørgsmål, kommentarer og anmodninger vedrørende denne Privatlivspolitik, som skal sendes til jura@mv-nordic.com

<p>
    9.2 Vi er underlagt og bundet af Europa-Parlamentets og Rådets generelle forordning (EU) 2016/679 af 27. april 2016 om databeskyttelse (”GDPR”), lov nr. 503 af 23. maj 2018 om supplerende bestemmelser til GDPR (”Databeskyttelsesloven”).

<p>
    10. Senest opdateret
<p>
    10.1 Senest opdateret 17. maj 2018
</p>
