@using MaMiKrCh.Mockup,
@model IEnumerable<MaMiKrCh.Models.ProductModel.Product>
@{

}

<body>
	<h1>
		Eksisterende produkter
	</h1>

	<div class="navbar-brand">
		<form>
			Title: 
		</form>
	</div>

</body>



