@using MaMiKrCh.Models.ProductModel
@model IEnumerable<MaMiKrCh.Models.ProductModel.Product>
@{
	
}

	<body>
		<h1>Produkter</h1>

		<div>
			@{
				foreach (var products in Model)
				{
					<form>
						Product Name: @products.Name
					</form>

				}
			}
		</div>
		












	</body>



	

