@{
    ViewData["Title"] = "Vores historie ";
}
    <h1 id="introabout">@ViewData["Title"] </h1>
    <div>
        <style>
            h1 {
                color: #8d2138
            }

            p #Nyt {
                color: black
            }

            section {
                box-sizing: border-box;
            }

            #introabout {
                border: 1px solid hidden;
                padding: 15px;
            }

            #picure3 {
                width: 50%;
                float: left;
                padding: 15px;
                border: 1px solid hidden;
            }

            #paragrafAbout {
                width: 50%;
                float: left;
                padding: 15px;
                border: 1px solid hidden;
            }
        </style>
        <img id="Picture3" src="~/Billeder/testabout.png" alt="Billede1" />
        <p id="paragrafAbout">
            Vi startede, i 1984, som ’first movers’ med en mission om at integrere it i undervisningen ude på skolerne. Det var dengang, man arbejdede med edb, piccoline og dos.
            <br />
            Siden da har vi specialiseret os og har i dag en førende position inden for læse- og skriveteknologi i Skandinavien. Vores programmer læse- og skrivestøtteprogrammer CD-ORD og IntoWords er eksempelvis opskriften på succes og livskvalitet for mange ordblinde og læseusikre, som her får hjælp til at læse og skrive, så de kan gennemføre en uddannelse, passe deres job og begå sig socialt.
            <br />
            Vi er skandinavisk samarbejdspartner for LEGO® Education.
            <br />
            Vores verden udgår fra Odense og befolkes af blandt andet softwareudviklere, pædagogiske konsulenter, salgsrådgivere, supportere og kursusafholdere. Vi har datterselskaber i både Norge og Sverige, og samlet set er vi ca. 80 medarbejdere.
            <br />
            I 2014 ændrede vi navn fra Mikro Værkstedet til MV-Nordic for at understrege vores nordiske rødder. I juli 2017 blev vi  en del af den svenske softwarekoncern, Vitec. I 2019 har vi derfor skiftet navn igen fra MV-Nordic til Vitec MV.
        </p>
    </div>