
@{
    ViewData["Title"] = "Contact";
}
    <body>
        <style>
            h1 {
                color: #8d2138
            }

            p #Nyt {
                color: black
            }

            section {
                box-sizing: border-box;
            }

            #intro {
                border: 1px solid hidden;
                padding: 15px;
            }

            #picure1 {
                width: 50%;
                float: left;
                padding: 15px;
                border: 1px solid hidden;
            }

            #picture2 {
                width: 50%;
                float: left;
                padding: 15px;
                border: 1px solid hidden;
            }
        </style>
        <h1>Contact</h1>
        <p>

        </p>
    </body>


