
@{
    ViewData["Title"] = "Contact";
}
    <body>
        <style>
            #TitleContact 
            {
                color: #8d2138
            }

            section 
            {
                box-sizing: border-box;
            }

            #IntroContact {
                border: 1px solid hidden;
                padding: 15px;
            }

            #Salesnumber {
                width: 33%;
                float: left;
                padding: 10px;
                border: 10px solid hidden;
                border-width: 25px
            }

            #Kursusnumber {
                width: 33%;
                float: left;
                padding: 10px;
                border: 10px solid hidden;
                border-width: 25px
            }

            #Supportnumber {
                width: 33%;
                float: right;
                padding: 10px;
                border: 10px solid hidden;
                border-width: 25px
            }
        </style>
        <div id="IntroContact">
            <h1 id="TitleContact">
                Ring eller skriv til os
            </h1>
            <p>
                Ønsker du et kursus, et møde eller sidder du inde med spørgsmål om vores programmer? Så giv os et kald. Vi hører meget gerne fra dig.
            </p>
        </div>
        <div id="Salesnumber">
            <img src="~/Billeder/sale.png" style="width:300px;height:150px" />
            <div>

                <a href="tel:65918022" style="color:black">
                    <img src="~/Billeder/Phone.png" style="width:40px;height:40px" />
                    <b>65 91 80 22</b>
                    man-tor kl. 9-15 - fre 9-14
                </a>
                <br />
                <a href="mailto:salg.mv@mv-nodic.dk" style="color:black">
                    <img src="~/Billeder/Email.png" style="width:40px;height:40px" />
                    <b>salg.mv@mv-nodic.dk</b>
                </a>
            </div>
        </div>
        <div id="Kursusnumber">
            <img src="~/Billeder/kursus-kontakt.png" style="width:300px;height:150px" />
            <div>
                <a href="tel:65918022" style="color:black">
                    <img src="~/Billeder/Phone.png" style="width:40px;height:40px" />
                    <b>65 91 80 22</b>
                    man-tor kl. 9-15 - fre 9-14
                </a>
                <br />
                <a href="mailto:formidling@mv-nodic.dk" style="color:black">
                    <img src="~/Billeder/Email.png" style="width:40px;height:40px" />
                    <b>formidling@mv-nodic.dk</b>
                </a>
            </div>
        </div>
        <div id="Supportnumber">
            <img src="~/Billeder/Anmærkning 2019-12-13 133234.png" style="width:300px;height:150px"/>
            <div>
                <a href="tel:65918022" style="color:black">
                    <img src="~/Billeder/Phone.png" style="width:40px;height:40px" />
                    <b>63 12 60 15</b>
                    man-tor kl. 9-15 - fre 9-14
                </a>
                <br />
                <a href="mailto:support.mv@vitecsoftware.com" style="color:black">
                    <img src="~/Billeder/Email.png" style="width:40px;height:40px" />
                    <b>support.mv@vitecsoftware.com</b>
                </a>
            </div>
        </div>
    </body>


