@{
    ViewData["Title"] = "Home Page";
}
    <body>
        <style>
            body {background-color:whitesmoke}
            h1 {color:#8c2138; font-weight:100; font-size:8vw}
        </style>
        <div>
            <h1>Vitec MV </h1>
            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        </div>
    </body>